body
{
    min-width: 90%;
}
.container .row
{
    width:120%;
    margin-top:15%;
    margin-left:-10%;
}
.form-signin
{
    max-width: 100%;
    padding: 10%;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 2%;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 120%;
    height: auto;
    padding: 4%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 0% ;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .btn-group
{
    border-top-width: 0%;
    width:100%;
    padding-top: 0%;
    padding-bottom: 0%;
}
.btn-group .form-control
{
    height:5%;
    padding-top: 3%;
    padding-bottom:10%;
    color: #a9a9a9;
}
.dropdown-menu
{
    width:100%;
    margin-top: -10%;
}
.btn-block
{
    clear: both;
    margin-top: 1%;
}
.align
{
    text-align: left;
}
.account-wall
{
    margin-top: 5%;
    padding: 10% 0% 10% 0%;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 130%;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 130;
    height: 130;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 3%;
}
.new-account
{
    display: block;
    margin-top: 3%;
}
span
{
    float:left;
}
.caret
{
    float:right;
}
#animation
{
  display: none;
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%:
  z-index:1000;
}
body.loading
{
  overflow: hidden;
}
body.loading #animation
{
  display:block;
}

.new-img
{
  width: 10;
  height: 10;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
